<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    [v-cloak]{
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak v-once  >
    {{` 我的消息是：${msg} ${msg.slice(5)} `}}
    <p v-show="ok">999999</p>
    <p v-text="num"></p>
    <p v-html="num1"></p>
    <button>111</button>
    <template v-if="show">
      <button>hhh</button>
      <button>555</button>
      <button>666</button>
      <button>888</button>
    </template>
    <h1 v-else>呵呵呵呵</h1>
    <div v-if="type==='A'">A</div>
    <div v-else-if="type==='B'">B</div>
    <div v-else-if="type==='C'">C</div>
    <div v-else>Not A/B/C</div>
  </div>
  <script src="./vue.js"></script>
  <script>
    var vm = new Vue({
      el:"#app",
      data:{
        msg:"hello vue",
        num: 8,
        num1:"<span>hahha</span>",
        show:1,
        type:"b"
      }
    })
    setTimeout(function(){
      vm.msg="你好"
    },3000)
    console.log(vm.$el)
  </script>
</body>
</html>
