<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <div id="app">
    <ul>
      <li v-for="(item,i ) in todos">
        index:{{i}}--{{item.id}}--{{item.text}}
      </li>
    </ul>
    <div v-for="(item,key,index) in obj">
      <h3>{{key}}:{{item}}:{{index}}</h3>
    </div>
    <div v-for="n in 10">{{n}}</div>
 </div>
   <script src="./vue.js"></script>
   <script>
     var vm = new Vue({
       el:"#app",
       data:{
        todos:[
          {id: 1 ,text: "do what"},
          {id: 2 ,text: "do what2"},
          {id: 3 ,text: "do what3"},
          {id: 4 ,text: "do what4"}
        ],
        obj:{
          name:"why",
          age:"18",
          tall:"180"
        }
       }
     })
   </script>
</body>
</html>
